/* :root {
  --dark-bg-color: hsl(207, 26%, 17%);
  --article-color: hsl(209, 23%, 22%);
  --text-color: hsl(0, 0%, 100%);
  --light-mode-text: hsl(200, 15%, 8%);
  --light-mode-input: hsl(0, 0%, 52%);
  --light-mode-background: hsl(0, 0%, 98%);
  --background-color:#F5F5F5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  padding:20px;
  background-color:var(--background-color);
}

.grid-container{
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
  margin: 0 auto;
 
}

.card{
  background-color: white;
  height: 200px;
  width: 300px;
  border-radius: 15px;
  padding: 7px;
}

.job-title{
  color: black;
  font-weight: bold;
  font-size:14px;
}

.job-type{
  font-size:15px;
}

.job-location{
  color:#00008B;
  font-weight: bold;
  font-size:15px;
}

.company-logo-container{
  background-color: red;
  position: relative;
  top:-200px;
  width: 30px;
  height: 30px;
  border-radius: 5px;
}

.company-logo{
  height: 30px;
  width:30px;
 
 
}

@media (min-width: 640px) {
  .grid-container{
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 768px) {
  .grid-container{
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 992px) {
  .grid-container{
    grid-template-columns: repeat(3, 1fr);
  }
} */